*{
    font-size: x-large;
    color: rgb(0, 0, 0);
    
}
.row{
    padding: 10px;
}
.display-4{
    padding: 80px;
}
h1{
    font-family: 'Satisfy', cursive;
    
    
}
button{
    background-color: rgb(245, 134, 7);
}
body{
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/11171111-fundo-branco-com-laranja-geometrica-gratis-vetor.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}