*{
    margin: 1%;
}

a:link {
    color: rgb(3, 40, 163);
}

a:visited {
    color:rgb(88, 70, 187);
}

a:hover {
    background-color: rgb(115, 116, 119);
}

.outer{
    border: 5px solid black;
}

.box{
    width: 20%;
    padding: 10%;
    
}
h1{
    text-align: center;
}