.reprovado {
    background-color: red;
    color: white;
}

.recuperacao {
    background-color: blue;
    color: white;
}

.aprovado {
    background-color: green;
    color: white;
}

