*{

    background-color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    margin: 1%;
    text-decoration: none;
    text-decoration-skip-ink: none;
   
   
}

a:link {
    color: rgb(0, 0, 0);
}

a:visited {
    color:rgb(0, 0, 0);
}

a:hover {
    background-color: rgb(115, 116, 119);
}

.outer{
    border: 5px solid black;
    
}

.box{
    width: 20%;
    padding: 10%;
    
}
h1{
    text-align: center;
}
.contato{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

