*{
text-decoration: none;
text-transform: none;
}
body{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.col-md-5#ex1{
    color: black;
    margin-left: 1%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 1%;
    background-color: rgb(127,255,212);
    
}
.col-md-5#ex2{
    color: black;
    margin-left: 9%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 1%;
    background-color: rgb(64,224,208);
    
}
.col-md-5#ex3{
    color: black;
    margin-left: 1%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 1%;
    background-color: rgb(72,209,204);
    
}
.col-md-5#ex4{
    color: black;
    margin-left: 9%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 1%;
    background-color: rgb(0,206,209);
    
}
.container{
    padding: 4%;
    text-align: center;
}
