*{
text-decoration: none;
text-transform: none;
}
body{
    color: white;
    background-color: rgb(165, 160, 160);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.col-md-5#ex1{
    color: black;
    margin-left: 1%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 1%;
    background-color: rgb(245, 94, 94);
    
}
.col-md-5#ex2{
    color: black;
    margin-left: 9%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 1%;
    background-color: rgb(248, 128, 218);
    
}
.col-md-5#ex3{
    color: black;
    margin-left: 1%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 1%;
    background-color: rgb(163, 245, 125);
    
}
.col-md-5#ex4{
    color: black;
    margin-left: 9%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 1%;
    background-color: rgb(115, 115, 250);
    
}
.container{
    padding: 4%;
    text-align: center;
}
